<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaypatel.homoheart">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity android:name=".Edit_Profile" />
        <activity android:name=".Select_image" />
        <activity android:name=".ShowAllProfImages" />
        <activity android:name=".GenerateEvent" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity android:name=".GenerateEvent" />
        <activity android:name=".OtherUserProfile" />
        <activity android:name=".LikeDislikeListDisp" />
        <activity android:name=".CommentsList" />
        <activity android:name=".DispSingleEve" />
        <activity android:name=".ChatPage"></activity>
    </application>

</manifest>